<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <customErrors mode="Off"></customErrors>
      <!--<sessionState mode="StateServer" cookieless="false" timeout="120"/>
      <machineKey validation="SHA1" validationKey="A1B2C3D4E5F6F6E5D4C3B2A1A1B2C3D4E5F6F6E5D4C3B2A1A1B2C3D4E5F6F6E5D4C3B2A1A1B2C3D4E5F6F6E5D4C3B2A1A1B2C3D4E5F6F6E5D4C3B2A1B2C3D4E5" decryption="Auto" decryptionKey="A1B2C3D4E5F6F6E5D4C3B2A1A1B2C3D4E5F6F6E5D4C3B2A1" />-->
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <!--<add key="Connect" value="Data Source=CP;Initial Catalog=QR_car_parking;Integrated Security=SSPI "/>-->
    <add key="Connect" value="Data Source=103.21.58.192;Initial Catalog=qr_parking_3;User Id=qr_parking_3;Password=Password@123"/>
   

  </appSettings>
  
</configuration>
